.encabezado .nav-link,
.encabezado .navbar-brand {
  color: white;
}

.carousel-img {
    height:39dvw;
    object-fit: cover;
}

#KTM{
  background-color: #F27620;
}

.btn-color:hover {
  background-color: rgba(205, 205, 205, 0.15);
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators{
  filter: invert(1);
}
.nav-link:hover{
  color: rgb(34, 114, 255);
}

.pad{
  padding: 3em;
}
.pad2{
  padding: 2em;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

 .ktm.card {
  border-radius: 2em;
  height: 68dvh;
}
.card.ducati{
  border-radius: 2em;
  height: 74dvh;
}
.card.honda{
  border-radius: 2em;
  height: 61dvh;
}

.honda > .card-img-top{
  max-height: 14em;
}

.card.suzuki{
  border-radius: 2em;
  height: 66.5dvh;
}

.suzuki > .card-img-top{
  max-height: 17em;
}

.img-encabezado {
  width: 100%;
  height: 30em;
}

.ampli{
width: 100dvh;
height: 45dvh;
}

.card-img-top{
  border-radius: 2em;
}
